input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 10px;  
}

input:hover, input:active {
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #1a76ac;
    
}

 .btn-login {
    display: inline-block;
    width: 77%;
    background-color: rgb(214, 68, 92);
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;

}

.section-form {
        width: 60%;
        margin: 0 auto;
    }

    .form-input {
            padding: 15px;
        }    

        label {
                font-size: 70%;
                color: #1a76ac;
            }      